body{
	font-family: "苹方";
	
}

* {
	margin: 0;
	padding: 0;
}

#bodder {
	width: 100%;
}
/*上层部分*/
#header {
	width: 100%;
	height: 120px;
	margin: 0 auto;
}

#headerleft {
	width: 557px;
	height: 101px;
	margin-top: 10px;
}

#headerright {
	width: 350px;
	height: 50px;
	border: 2px solid black;
	border-radius: 40px;
	color: #4f4f4f;
	position: relative;
	left: 1300px;
	top: -70px;
}

#headerright input {
	width: 288px;
	height: 40px;
	border: 0;
	margin-left: 22px;
	font-size: 24px;
	outline: none;
}

#headerright img {
	position: relative;
	top: 5px;
	right: 20px;
}

#nav{
	width: 1920px;
	height: 50px;
	margin: 0 auto;
	background: #2AA102;
}
#nav ul {
	width: 1145px;
	height: 40px;
	margin-left: 360px;
}

#nav ul li {
	height: 50px;
	list-style: none;
	float: left;
	font-size: 24px;
	text-align: center;
	line-height: 47px;
	margin-right: 74px;
}

#nav ul li a {
	height: 50PX;
	display: inline-block;
	color: white;
}

#nav ul li a:hover {
	background: white;
	color: green;
}

#nav a {
	color: white;
	text-decoration: none;
}





#xialanav {
	width: 1100px;
	height: 177px;
	background: rgba(191, 186, 190, 0.6);
	position: absolute;
	top: 180px;
	left: 360px;
	z-index: 10px;
	display: none;
}

#xialanav ul {
	float: left;
	margin: 0;
	margin-right: 99px;
	list-style: none;
}

.ul1 {
	position: relative;
	left: -43px;
}

#xialanav ul li {
	font-size: 24px;
	text-align: center;
	margin-top: 5px;
}

#xialanav ul li a {
	color: black;
	text-decoration: none;
}

#xialanav ul li:hover a {
	color: white;
}

#xialanav ul li:hover {
	border-bottom: 2px solid #13CC40;
}


.banner {
	width: 1920px;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
	position:relative;
}

.box02 {
	width: 7680px;
	border: 3px solid black;
	overflow: hidden;
}
.box02 img{
	width: 1920px;
	height: 600px;
	float: left;
}
.box02 ul {
	list-style: none;
	overflow: hidden;
	position: absolute;
	left: 180px;
	bottom: 0px;
}

.box02 li {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	float: left;
	margin-right: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
}




.nav {
	width: 600px;
	height: 100px;
	float: left;
	position: relative;
	left: 800px;
	margin: 0 auto;
}

.nav a {
	color: white;
	text-decoration: none;
}

.nav #yrgk {
	width: 100px;
	height: 100px;
	margin-left: 40px;
	float: left;
	text-align: center;
	border: 5px solid;
	border-radius: 50%;
	font-size: 35px;
	color: white;
	position: relative;
	bottom: 60PX;
	background: #3Eb0fd;
	transition: all 1s;
	line-height: 100px;
}

#yrgk:hover {
	transform: translate(0px, -50px);
}

.nav #zxzx {
	width: 100px;
	height: 100px;
	float: left;
	margin-left: 40px;
	text-align: center;
	border: 5px solid;
	border-radius: 50%;
	position: relative;
	bottom: 60PX;
	font-size: 35px;
	color: white;
	background: #61CA3A;
	transition: all 1s;
	line-height: 100px;
}

#zxzx:hover {
	transform: translate(0px, -50px);
}

.nav #jsxm {
	width: 100px;
	font-size: 35px;
	height: 100px;
	margin-left: 40px;
	text-align: center;
	border: 5px solid;
	border-radius: 50%;
	position: relative;
	bottom: 60PX;
	float: left;
	color: white;
	background: #F85C99;
	transition: all 1s;
	line-height: 100px;
}

#jsxm:hover {
	transform: translate(0px, -50px);
}
.nav #jsxm1 {
	width: 100px;
	font-size: 33px;
	height: 100px;
	margin-left: 40px;
	text-align: center;
	border: 5px solid;
	border-radius: 50%;
	position: relative;
	bottom: 60PX;
	float: left;
	color: white;
	background: #F85C99;
	transition: all 1s;
	line-height: 100px;
}

#jsxm1:hover {
	transform: translate(0px, -50px);
}









#jsxmyujia{
	width: 1200px;
	height: 1000px;
	position: relative;
	top: 60px;
	margin: 0 auto;
	margin-left: 360px;
}
#jsbt a{
	font-size: 30px;
	color: black;
	text-decoration: none;
	
}
#jsbt a:hover{
	color:#04AA00 ;
	text-decoration: underline red;
	text-shadow: 2px 2px 3px #5F9EA0;
}
#jsbt {
	position: relative;
	left: -240px;
}
#yujiatxt{
	width: 1200px;
	height: 240px;
	margin-top: 40px;
}
#yujiatxt ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#yujiatxt ul li{
	font-size: 20px;
	margin-bottom: 7px;
}
#yujiatu2{
	margin-top: 60px;
}





#sybase {
				height: 400px;
				width: 1920px;
				background: #05AA01;
				margin-top: 700px;
				
				margin-left: 0px;
			}